<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row mt-5" style="margin-left:100px;">
        <div class="col-sm-6"><img src="{{m.image.url}}" height="300px" width="300px"></div>
        <div class="col-sm-6" style="text-align:justify;">
            <h3>{{m.model_name}}</h3>

            <p>{{m.desc}}</p>
            <a href="{% url 'product:update' m.id %}" class="btn btn-secondary text-dark">Update</a>
            <a  href="{% url 'product:delete' m.id %}" class="btn btn-secondary text-dark">Delete</a>

        </div>
    </div>

</div>
{% endblock %}